.dashboard-main-container{
    display: flex;
    margin-left: 18rem;
    margin-right: 10rem;
}
.nav-container{
    max-width: 20rem;
}
.right_container{
    margin-left: 14rem;
    margin-right: 8rem;
    margin-top: 1.625rem;
    min-height: 50vh;
  }