
.outerdiv{
    display: flex;
    align-items: center;
    padding: 0.325rem;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    gap: 1rem;
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.12);
    width:68vw;
   
}
.userprofile{
    height: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.verticle-flex{
    display: flex;
    flex-direction: column;
    
}
.username{
    font-size: 1.825rem ;
    font-weight: 650;
    width: 16rem;
}
.count{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -1.6rem;
    color: #6E6E6E    
}
.gap{
    width:2rem;
}
.deletebutton{
    border-radius: 0.375rem;
    background-color: #F85E5E;
    color: #FFFFFF;
    border: none;
    padding: 0.825rem;
    margin-right: 2rem;
    cursor: pointer;
}